
    /* Styling for body: color/googlefont */
    body {
      width: 50%;
      max-width: 800px;
      min-width: 480px;
      margin: 0 auto;
      font-family: 'Berkshire Swash', cursive;
      font-size: 30px;
      background-color: lightsalmon;
    }
    /* Image style */
    #fortune {
      float: left;
      margin: 15px;
    }
    
    
